@page
@model WeatherLogData
@inject WeatherLogsService WeatherLogsService

@{
    var weatherLogs = await WeatherLogsService.GetWeatherLogsAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Logs</title>
</head>
<body>
    <h1 style="margin-bottom: 20px;">Weather Logs</h1>
    <table border="1" style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; text-align: left;">Check date</th>
                <th style="padding: 10px; text-align: left;">City</th>
                <th style="padding: 10px; text-align: left;">Temperature</th>
                <th style="padding: 10px; text-align: left;">Humidity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in weatherLogs)
            {
                <tr>
                    <td style="padding: 10px;">@log.DateTime</td>
                    <td style="padding: 10px;">@log.CityName</td>
                    <td style="padding: 10px;">@log.Temparature</td>
                    <td style="padding: 10px;">@log.Humidity</td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
